body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
}
p {
  font-size: 22px;
}

.container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: auto;
  height: 100%;
}

/*INDEX*/
/*
*/
.header {
  width: 100%;
  height: 900px;

  align-items: start;
  background-image: url("../img/hdr_main.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.menu {
  width: 100%;
  height: 6%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
.menu_link {
  text-decoration: none;
  color: #383838;
  margin-right: 50px;
  margin-top: 20px;
  font-size: 25px;
  font-family: "Cormorant Garamond", serif;
}
.menu_link:active {
  color: rgb(206, 59, 103);
}
.menu_link:hover {
  color: rgb(206, 59, 103);
}

.moving_line {
  top: 5%;
  height: 30px;
  width: 100%;
  background-color: rgb(255, 226, 226);
}
.landing_logo {
  z-index: 2;
  color: #383838;
  font-size: 60px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}
.hero-description {
  font-size: 23px;
  line-height: 25px;
  max-width: 420px;
  margin-top: 30px;
  text-align: center;
  margin: auto;
}
.off_site {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #ffffff;
  opacity: 70%;
  border-radius: 40px;
  border: 2px solid rgb(206, 59, 103);
  color: rgb(206, 59, 103);
  font-size: 28px;
  font-style: normal;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}
.off_site:hover {
  box-shadow: -1px 6px 17px 2px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: -1px 6px 17px 2px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -1px 6px 17px 2px rgba(0, 0, 0, 0.14);
}
.btn_link {
  text-decoration: none;
  color: rgb(206, 59, 103);
}

.maincontent {
  width: 90%;
  display: flex;
  flex-basis: 80%;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
}
.start_info {
  margin-left: 10%;
}
.subtitle {
  text-align: center;
  color: rgb(206, 59, 103);
  font-size: 24px;
}
.textblock {
  width: 77%;
  font-size: 23px;
  margin: auto;
  margin-top: 15px;
}
.flag_block {
  height: 100px;
  height: 170px;
}

.photo {
  margin-top: 5%;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  -webkit-box-shadow: 0px 4px 14px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow: 0px 4px 14px 0px rgba(50, 50, 50, 0.32);
  box-shadow: 0px 4px 14px 0px rgba(50, 50, 50, 0.32);
}
.img_title {
  font-size: 24px;
  color: rgb(206, 59, 103);
}
.center_title {
  font-size: 24px;
  color: rgb(206, 59, 103);
  text-align: center;
}
.red {
  color: rgb(206, 59, 103);
  font-size: 24px;
}
.white {
  color: rgb(255, 255, 255);
  font-size: 21px;
}
.img_description {
  margin-left: 5%;
}
.photo_block {
}

.info_content {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  width: 100%;
}
.info-list {
  width: 100%;
  background-color: #fff0f0;
  text-align: left;
  padding-left: 3%;
  -webkit-box-shadow: 4px 0px 14px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow: 4px 0px 14px 0px rgba(50, 50, 50, 0.32);
  box-shadow: 4px 0px 14px 0px rgba(50, 50, 50, 0.32);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #838383;
  text-align: center;
}
.footer_contacts {
  margin: auto;
  margin-top: 6%;
  margin-bottom: 6%;
}

#inf_cnt_1 {
  background-color: #ffe3df;
}
#inf_cnt_2 {
  background-color: #ffe6e6;
}
#inf_cnt_3 {
  background-color: #fff0f0;
}
#main_landing_logo {
  font-size: 70px;
}

/*HISTORY*/
/*
*/
.header_text {
  text-align: center;
  width: 90%;
  margin: auto;
  font-size: 20px;
}
.header_info {
  width: 70%;
  margin: auto;
  margin-top: 4%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.541);
}
.img_title_center {
  text-align: center;
  font-size: 24px;
}
.last_actions {
  margin-top: 5%;
  background-color: rgb(236, 236, 236);
  -webkit-box-shadow: 4px 0px 14px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow: 4px 0px 14px 0px rgba(50, 50, 50, 0.32);
  box-shadow: 4px 0px 14px 0px rgba(50, 50, 50, 0.32);
}
.table {
  border: 1px solid rgb(143, 143, 143);
}

#hstr1 {
  height: 500px;
  width: 70%;
  float: left;
  margin: 30px;
  margin-left: 10%;
}
#hstr2 {
  width: 70%;
  margin: 30px;
  float: right;
}
#textblock_fullwidth {
  width: 80%;
}
#img_title_right {
  text-align: right;
  margin-right: 5%;
}

/*CULTURE*/
/*
*/
.blockquote {
  font-size: 22px;
  padding: 20px;
  background-color: rgb(245, 245, 245);
  -webkit-box-shadow: 4px 0px 14px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow: 4px 0px 14px 0px rgba(50, 50, 50, 0.32);
  box-shadow: 4px 0px 14px 0px rgba(50, 50, 50, 0.32);
}
.cult_list {
  margin-left: 5%;
  font-size: 20px;
}
.marker {
  left: 0;
  width: max-content;
  padding: 2px;
  padding-right: 5%;
  background-color: rgb(255, 210, 210);
}
#photo_3 {
  width: 50%;
}
#photo_4 {
  height: 500px;
  float: left;
  margin: 20px;
}
#left_title {
  margin-left: 5%;
}

/*GEOGRAPHIC*/
/*
*/
.map {
  width: 80%;
  margin: auto;
}
.table_titles {
  color: rgb(206, 59, 103);
  font-size: 20px;
}
.table_data {
  font-size: 19px;
  font-style: normal;
  padding: 4px;
}
#map_block {
  background-color: #fff;
  margin-bottom: 5%;
}
#full_text {
  padding: 7%;
  width: 90%;
}
#geo_img {
  float: right;
  right: 0;
  padding: 20px;
  width: 60%;
}
#geo_block {
  margin-top: 2%;
  margin-bottom: 5%;
}

/*FEEDBACK*/
/*
*/
.input {
  background: #f8f8f8;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  border: none;
  width: 70%;
  padding: 18px 20px;
  padding-left: 50px;
  align-self: center;
  margin: auto;
  font-size: 14px;
  line-height: 28px;
}
.input-name {
  margin-bottom: 17px;
}
.input-phone {
  margin-bottom: 17px;
}

.form-button {
  width: 50%;
  margin: auto;
}

.contacts-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts-form {
  background: #ffffff;
  padding-top: 30px;
  margin-left: 5%;
}
.contacts-text {
  flex-basis: 50%;
  padding-left: 20px;
  padding-top: 30px;
  background-color: #eaeaea;
  justify-content: space-between;
}
.contacts-data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;
}
.contacts-phone,
.contacts-mail {
  margin-bottom: 33px;
}
.contacts-social {
  flex-basis: 100%;
}
.contacts-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 15px;
}
.contacts-link {
  text-decoration: none;
  color: inherit;
  font-size: 23px;
  margin-right: 37px;
}
.contacts-link:hover {
  text-decoration: underline;
}
.contacts-policy {
  display: inline-block;
  margin-top: 25px;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #303030;
}
#feedback_form {
  width: 90%;
}
#inputs_title {
  font-size: 23px;
  text-align: center;
}
